<section id="contact">
  <!-- Header -->
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdZ0Y6oMtiHHeY8Mdv4cOokqajAOjytISkrdWGsyP7vs9K8-Q/viewform?embedded=true"
            width="640"
            height="1109"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
          >
            読み込んでいます…
          </iframe>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.intro-header -->
</section>
