<section id="work">
  <!-- Header -->
  <div class="intro-header">
    働き方に対する思い
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          ITマネジメント・アーキテクトに関する名著の多くは、メンバーがリモートでバラバラに働くことを推奨していません。<br />
          一方で、マネジメントに関する議論は、そのほとんどが海外からの輸入・あるいはトヨタ・禅などの逆輸入品です。<br />
          開発において協調が何よりで維持であることは、トム・デマルコやアンクル・ボブの言に限らず、現代の開発では明らかです。<br />
          しかし、テレワークによって明らかになった職場での疑心暗鬼・無駄な会議・キャリアへの不安...これらは万国共通のものなのでしょうか。<br />
          デヴィット・グレーバー『ブルシット・ジョブ』を読むと、日本人特有と思われがちな仕事への不満は、案外万国共通のものなのだということがわかります。<br />
          一方で、エリン・メイヤー『異文化理解力』を読むと、日本人はやはり独特な感性を持つということがわかります。<br />
          良くも悪くも、日本人は日本人同士の表情・言葉の機微に敏感であり、それは直接顔を突き合わせなくても把握できるレベルの高いものなのではないか。<br />
          反対に、日本が直面する人口減少・都市集中・災害への備えなど、リモートチーム・複数拠点であることの強みは、無数に挙げられます。<br />
          このリモートチームとしての働き方が、日本における開発の模範となるのではないか<br />
          そんな思いで、日々新たなフレームワークを模索しています。
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.intro-header -->
</section>
